<!DOCTYPE html>
<html>

<head>
<title>Employee Chatbot</title>
</head>

<body>

<h2>Chatbot-Based Employee Management System</h2>

<input id="msg" placeholder="Rahul, IT, Python">

<button onclick="sendMessage()">Create Employee</button>

<br><br>

<div id="response"></div>

<script>

function sendMessage(){

let message = document.getElementById("msg").value;

fetch("/chat",{
method:"POST",
headers:{
"Content-Type":"application/json"
},
body:JSON.stringify({message:message})
})

.then(response => response.json())

.then(data => {

console.log(data);

document.getElementById("response").innerHTML =
"Employee ID : " + data.Employee_ID + "<br>" +
"Employee Name : " + data.Employee_Name + "<br>" +
"Department : " + data.Department + "<br>" +
"Skill Set : " + data.Skill_Set;

})

.catch(error => console.log(error));

}

</script>

</body>
</html>